*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    cursor: default;
}

#principal{

}

#placar{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador,#computador{
    flex-grow: 1;
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    position: relative;
}


#jogador{
    background-color: #ff7675;
}

#jogador-nome, #computador-nome{
    font-size: 24px;
}

#jogador-pontos, #computador-pontos{
    position: absolute;
    top: 8px;
    font-size: 52px;
}

#jogador-pontos{
    right: 20px;
}

#jogador #jogador-escolha{
    text-align: center;
    margin: 30px 0 0;
}

#jogador #jogador-escolha li{
    display: inline;
    padding: 0 15px;
}

#jogador #jogador-escolha a{
    opacity: .2;
}

#jogador #jogador-escolha a:hover{
    opacity: 1;
}

#jogador #jogador-escolha img{
    max-width: 80px;
    cursor: pointer;
}

#versus{
    background-color: blue;

}

#computador{
    background-color: #3498db;
}

#mensagem{

}